TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui
ON_URL=https://www.on.com/pt-br/shop/classics/mens/mens-size-12~mens-size-12.5~mens-size-8

# Supabase (projeto empress)
SUPABASE_URL=https://dxlbotymvcvgbxscofjq.supabase.co
SUPABASE_ANON_KEY=sua_anon_key_aqui
